div {
  text-align: center;
}
img {
  width: 200px;
  border-radius: 10px;
}
.wrapper {
  padding: 20px;
}
h6,
p {
  margin: 0 5px 0 0;
}
h6 {
  font-weight: 500;
  font-size: 17px;
}
.go-back {
  display: flex;
}
